  body {
    background-image: url('Imagenes/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* Gama de colores para la barra de navegación de One Piece */
  .navbar-custom {
    background-color: #003366;
    /* Azul Marino */
  }

  .navbar-custom .nav-link {
    color: #FFD700;
    /* Oro */
  }

  .navbar-custom .nav-link.active {
    color: #FF4500;
    /* Rojo */
  }

  .navbar-custom .dropdown-menu {
    background-color: #FFFFFF;
    /* Blanco */
  }

  .navbar-custom .dropdown-item {
    color: #003366;
    /* Azul Marino */
  }

  .navbar-custom .dropdown-item:hover {
    background-color: #FFD700;
    /* Oro */
    color: #003366;
    /* Azul Marino */
  }

  .navbar-custom .btn-outline-success {
    color: #FFD700;
    /* Oro */
    border-color: #FFD700;
    /* Oro */
  }

  .navbar-custom .btn-outline-success:hover {
    background-color: #FFD700;
    /* Oro */
    color: #003366;
    /* Azul Marino */
  }

  .logo {
    width: 60px;
    height: auto;
  }

  /* Estilo para el contenedor del carrusel */
  .carousel-container {
    margin: 20px 0;
  }


  /* Estilo para la sección de contenido */
  .content-section {
    padding: 30px 0;
  }

  /* Estilo para el footer */
  footer {
    background-color: #f8f9fa;
  }

  /* From Uiverse.io by abrahamcalsin */

  /*carta de luffy*/
  .card-Luffy {
    background: #C62828;
    /* Rojo intenso similar al color de Luffy */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F1C40F;
    /* Amarillo del sombrero de Luffy */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }

  .Luffy-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #F1C40F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*carta de zoro*/

  .card-zoro {
    background: #2E7D32;
    /* Verde oscuro similar al color de su kimono */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #FFD54F;
    /* Amarillo dorado para un contraste llamativo */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .zoro-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #FFD54F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*carta de usopp*/

  .card-usopp {
    background: #6D4C41;
    /* Marrón oscuro similar a su atuendo */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #4CAF50;
    /* Verde que complementa el diseño */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .usopp-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #4CAF50;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*carta de Nami*/

  .card-nami {
    background: #FF8C00;
    /* Naranja que refleja su cabello */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #2f607e;
    /* Azul claro que contrasta bien */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .nami-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #2f607e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*carta de sanji*/

  .card-sanji {
    background: #212121;
    /* Negro que refleja su traje */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #FFC107;
    /* Dorado que refleja su cabello */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .sanji-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #FFC107;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*carta de chopper*/

  .card-chopper {
    background: #F48FB1;
    /* Rosa que refleja su sombrero */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #A1887F;
    /* Marrón claro que complementa */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .chopper-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #A1887F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*Robin*/

  .card-robin {
    background: #8E24AA;
    /* Morado que refleja su vestimenta */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #1976D2;
    /* Azul oscuro que contrasta bien */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .robin-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #1976D2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*Fraki*/

  .card-franky {
    background: #2196F3;
    /* Azul que refleja su cabello */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #B0BEC5;
    /* Plateado que complementa */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .franky-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #B0BEC5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*brook*/

  .card-brook {
    background: #424242;
    /* Negro que refleja su atuendo */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #FFFFFF;
    /* Blanco que contrasta bien */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .brook-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /*jimbe*/

  .card-jinbe {
    background: #0D47A1;
    /* Azul que refleja su piel */
    height: 30rem;
    width: 16rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #D32F2F;
    /* Rojo que complementa */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    /* Sombras más sutiles */
    border-radius: 10px;
    text-align: center;
    color: #fff;
    /* Mantiene el texto blanco */
    font-family: "Poppins", sans-serif;
  }


  .jinbe-picture {
    overflow: hidden;
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border: 4px solid #D32F2F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }

  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }

  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
  }

  /* sinopsis */

  .card {
    position: relative;
    height: 20rem;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }


  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-50deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }

  .card__description {
    margin: 10px 0 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #000000;
    line-height: 1.4;
  }

  .card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }

  .row-content {
    margin-bottom: 30px;
  }

  .img-container,
  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
  }

  .img-container img {
    max-width: 100%;
    height: auto;
  }

  .card-transparent {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    position: relative;
    height: 20rem;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .row-content {
    margin-bottom: 30px;
  }

  .img-container,
  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
  }

  .img-container img {
    max-width: 100%;
    height: auto;
  }

  .margin-top {
    margin-top: 50px;
    /* Ajusta este valor según tus necesidades */
  }

  /*personajes*/
  /* From Uiverse.io by joe-watson-sbf */
  .flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }

  .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
        rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
  }

  .flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
        bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
  }

  /* Notas */

  .myContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tim;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
  }


  .oneContainer {
    background: rgba(209, 9, 9, 0.25);
    border-radius: 16px;
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2%;
    margin-bottom: 5%;
  }

  .checkbox-wrapper {
    box-sizing: border-box;
    --background-color: #00000000;
    --checkbox-height: 25px;
  }
  
  .checkbox-wrapper input[type=checkbox] {
    display: none;
  }
  
  .checkbox-wrapper .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #ffffff;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  
  .checkbox-wrapper .check-box::before,
    .checkbox-wrapper .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #ff699e;
    background-image: linear-gradient(43deg, #ff2989 0%, #a00707 46%, #ff2989 100%);
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  
  .checkbox-wrapper .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .checkbox-wrapper .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .checkbox-wrapper input[type=checkbox]:checked + .check-box,
    .checkbox-wrapper .check-box.checked {
    border-color: #ffffff;
  }
  
  .checkbox-wrapper input[type=checkbox]:checked + .check-box::after,
    .checkbox-wrapper .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  
  .checkbox-wrapper input[type=checkbox]:checked + .check-box::before,
    .checkbox-wrapper .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }

  .myContainer2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 10px;

  }
  .myButton {
    position: relative;
    padding: 12px 35px;
    background-color: #ff5722;
    /* Rojo */
    background-image: linear-gradient(45deg, #ff5722 0%, #ff8a65 100%);
    font-size: 1.2rem;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    border: 3px solid #ff5722;
    /* Rojo */
    border-radius: 30px;
    box-shadow: 0 0 0 #ffffff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #FBB763);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  

  .myButton:hover {
    background: transparent;
    color: #ffffff;
    box-shadow: 0 0 0px #ff5722;
    /* Rojo */
  }

  .myButton:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0px #ff85af);
    z-index: 2;
  }

  .fil0 {
    fill: #ffd49f;
  }


  .otherContainer {
    position: relative;
    --size-button: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

  }

  .myInput {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 1.2rem;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: #ff8a65;
    /* Rojo claro */
    border: 3px solid #ff5722;
    /* Rojo */
    border-radius: 50px;
    cursor: pointer;
  }

  .myInput:focus,
  .myInput:not(:invalid) {
    width: 200px;
    cursor: text;
  }

  .myInput:focus+.icon,
  .myInput:not(:invalid)+.icon {
    pointer-events: all;
    cursor: pointer;
  }

  .myInput::placeholder {
    color: #ffffff;
  }

  .otherContainer .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
  }

  .otherContainer .icon svg {
    width: 100%;
    height: 100%;
  }

  .textareacontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
  }

  .myTextArea {
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    background: rgba(255, 87, 34, 0.33);
    /* Rojo */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 87, 34, 0.76);
    /* Rojo */
    border-radius: 30px;
    width: 300px;
    height: 100px;
    outline: none;
  }

  .myTextArea::placeholder {
    color: #ffffff;
  }

  .saveButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(37, 37, 37);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
  }

  .saveButton:hover {
    background: rgba(255, 226, 147, 0.598);
    color: rgb(33, 0, 85);
  }

  .saveButton:active {
    transform: scale(0.97);
  }

  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(90deg, #ff85af 0%, rgb(255, 135, 177) 49%, #ffd49f 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }

  .saveButton:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }

  @keyframes effect {

    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  .note {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(255, 139, 178, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 139, 178, 0.76);
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 1.5rem;
  }

  .edit-button {
    padding: 10px;
    background: transparent;
    color: #ffffff;
    box-shadow: 0 0 0px #ff85af;
    font-size: 1.2rem;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    border: 3px solid #ff85af;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 5px;
  }

  .edit-button:hover {
    color: #ffffff;
    background-color: #B0E0E6;
  }

  .delete-button {
    padding: 10px;
    background: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    border: 3px solid #ff85af;
    border-radius: 30px;
    box-shadow: 0 0 0 #ffffff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 5px;
  }

  .delete-button:hover {
    color: #ffffff;
    background-color: red;
  }

  .taskContainer {
    gap: 30px;

  }